/* General Styles */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #121212;
	color: #fff;
	background-image: url('../images/foxgirl.png');
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center; /* Vertically center the container */
	justify-content: center;
	height: 100vh;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 80vh;
}

#input-container,
#result-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
	color: #fff;
	width: 100%;
}

#input-container h1 {
	margin-top: 0px;
	text-align: center;
}

.input-wrapper {
	margin-bottom: 20px;
	text-align: center;
}

.input-wrapper label {
	margin-bottom: 5px;
}

input[type='number'],
select {
	padding: 10px;
	width: 100%;
	max-width: 300px;
	border-radius: 5px;
	border: none;
	text-align: center;
	box-sizing: border-box;
	background-color: #333;
	color: #fff;
}

/* Calculate Button */
#calculateButton {
	padding: 10px 20px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	background-color: #555;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

#calculateButton:hover {
	background-color: #777;
}

#result-container {
	display: none;
}

/* Category Spacers */
h3,
h2 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-align: center; /* Center the text */
	background-color: #333; /* Add background color */
	color: #fff; /* Set text color to white */
	padding: 10px; /* Add padding for spacing */
	border-radius: 5px; /* Add rounded corners */
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/* Individual and Combined Containers */
#individualContainer,
#combinedContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 60vh;
	margin-bottom: 20px; /* Add spacing between containers */
}

#individualContainer p,
#combinedContainer p {
	margin-bottom: 10px;
	font-size: 16px;
}

/* Back Arrow Container */
#back-arrow-container {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	border-color: #555;
	border-style: solid;
}

#back-arrow-container:hover {
	background-color: #555;
	cursor: pointer;
}

#back-arrow {
	font-size: 24px;
	margin-right: 10px;
	color: #fff;
}

#go-back-text {
	font-size: 16px;
	color: #fff;
}

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	border-top-left-radius: 10px;
	font-size: 0.8rem;
	color: #fff;
	display: flex; /* Make the footer items flex */
	flex-direction: column; /* Display items in a column */
	align-items: flex-end; /* Align items to the right */
}

/* Footer Link */
footer a {
	margin-bottom: 5px; /* Add some spacing between links */
	color: #fff; /* Set link color */
	text-decoration: none; /* Remove underline */
	transition: color 0.3s; /* Add smooth color transition */
	display: flex; /* Make the link a flex container */
	align-items: center; /* Center items vertically */
}

footer a i {
	margin-right: 5px; /* Add space between icon and text */
}

footer a:hover {
	color: #ff6600; /* Change color on hover */
}

footer a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: -1;
}

/* Result Items */
.result-item {
	display: flex;
	align-items: center;
	justify-content: space-between; /* Align items evenly */
	padding: 10px; /* Add padding for spacing */
	border-bottom: 1px solid #666; /* Add bottom border for separation */
	width: 100%;
}

.result-label,
.result-value {
	padding: 5px; /* Add padding for better spacing */
	text-indent: 5px;
	text-wrap: wrap;
}

.result-label {
	font-weight: bold;
	flex: 1; /* Distribute remaining space evenly */
	margin-right: 10px; /* Add margin for spacing */
}

.result-value {
	flex: 2; /* Take up more space */
	text-align: right; /* Align values to the right */
}
